In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from sklearn.feature_extraction.text import CountVectorizer

#url = "https://raw.githubusercontent.com/hashketh/hello-world/e6eb7ca3e5e1e1d2f1d7d9571966c396928bac76/candyhierarchy2017%20(1).csv"
url = "https://github.com/ChngYuanLongRandy/DataScience/blob/main/Stats%20From%20Singstat.xlsx?raw=true"

# Reading the downloaded content and turning it into a pandas dataframe


# , encoding="ISO-8859-1"

df = pd.read_excel(url, sheet_name = "Pop makeup Residents")
#df2 = pd.read_excel(url, sheet_name = "Sheet11")

In [43]:
df.shape

(396, 65)

In [44]:
df.head(10)

,Subject: Population and Population Structure,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,"Topic: Population, Annual",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Title: M810011-Singapore Residents By Age Grou...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Number
4,Variables,1957,1958,1959,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
5,Total Residents,"1,445,929","1,518,800","1,587,200","1,646,400","1,702,400","1,750,200","1,795,000","1,841,600","1,886,900",...,"3,789,251","3,818,205","3,844,751","3,870,739","3,902,690","3,933,559","3,965,796","3,994,283","4,026,209","4,044,210"
6,0 - 4 Years,"264,727","277,800","288,800","297,000","303,700","306,100","303,000","299,900","293,500",...,"188,249","186,673","183,295","181,369","183,575","187,160","187,653","185,528","185,355","183,076"
7,5 - 9 Years,"218,097","229,600","241,000","250,300","258,900","266,700","276,000","284,000","291,100",...,"208,119","206,324","205,704","205,790","204,452","201,509","200,575","199,066","197,775","198,737"
8,10 - 14 Years,"136,280","157,100","175,700","200,300","217,400","223,900","232,000","240,200","248,500",...,"240,536","233,320","226,244","220,796","214,388","207,495","206,253","206,530","207,926","206,393"
9,15 - 19 Years,"135,679","134,300","131,500","124,700","124,900","140,000","159,000","175,800","198,600",...,"260,738","258,861","255,066","247,337","242,902","239,771","232,973","226,520","222,222","215,234"

In [ ]:
df2.head(10)